.alert blockquote,
.alert blockquote p {
	display: inline;
}

/**
 * Less weight to event details
 */
.ghgn-details {
	opacity: 0.7;
}

/**
 * Compact view
 * NOT FINAL
 */
.news .alert {
	padding-bottom: 0.5em !important;
}
.news .alert .body {
	padding-top: 0.4em !important;
}
.news .alert .dashboard-event-icon {
	top: 9px !important;
}

/**
 * Day-grouping
 */
.news .alert.separator {
	padding-top: 1em;
}

/**
 * Hide unwanted events
 * NOT FINAL
 */
.alert.delete,
.alert.issues_closed,
.alert.create,
.alert.push,
.alert.member_add {
	display: none;
}

/**
 * Don't truncate text in the main feed
 */
.news .ghgn-group .css-truncate-target {
	max-width: none;
}

/**
 * Only show actors when hovering the star
 * This also uses a hidden overlay to keep them visible when hovering the entire block afterwards
 */
.ghgn-actors-hover {
	position: relative;
}
.ghgn-actors-hover .ghgn-actors {
	display: none;
}
.ghgn-actors-hover .ghgn-stars:hover + .ghgn-actors,
.ghgn-actors-hover .ghgn-actors:hover {
	display: inline-block;
}

/*  the hoverlay */
.ghgn-actors-hover .ghgn-actors:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.ghgn-actors-hover .ghgn-actors a {
	position: relative; /* keep the links on top */
}

