.alert blockquote,
.alert blockquote p {
	display: inline;
}

/**
 * Less weight to event details
 */
.ghgn-details {
	opacity: 0.7;
}

/**
 * Compact view
 * NOT FINAL
 */
.news .alert {
	padding-bottom: 0.5em !important;
}
.news .alert .body {
	padding-top: 0.4em !important;
}
.news .alert .dashboard-event-icon {
	top: 9px !important;
}

/**
 * Day-grouping
 */
.news .alert.separator {
	padding-top: 1em;
}

/**
 * Hide unwanted events
 * NOT FINAL
 */
.alert.delete,
.alert.issues_closed,
.alert.create,
.alert.push,
.alert.member_add {
	display: none;
}

/**
 * Make comments wrap correctly
 */
.news .alert .simple {
	display: flex;
}
.news .alert .octicon {
	flex-shrink: 0;
	margin-right: 0.3em;
}