.ghgn-actors a {
	color: inherit;
}

/**
 * Keep a distance with the existing feed events
 */
.alert + .ghgn-holder {
	margin-top: 20px;
}

/**
 * Don't truncate text in the main feed
 */
.news .ghgn-group .css-truncate-target {
	max-width: none;
}

/**
 * Only show actors when hovering the star
 * This also uses a hidden overlay to keep them visible when hovering the entire block afterwards
 */
.ghgn-actors-hover {
	position: relative;
}
.ghgn-actors-hover .ghgn-actors {
	display: none;
}
.ghgn-actors-hover .ghgn-stars:hover + .ghgn-actors,
.ghgn-actors-hover .ghgn-actors:hover {
	display: block;
}

/*  the hoverlay */
.ghgn-actors-hover .ghgn-actors:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.ghgn-actors-hover .ghgn-actors a {
	position: relative; /* keep the links on top */
}

